@model MecaAgenda.Application.DTOs.BranchScheduleDTO

@{
    ViewData["Title"] = "Create Schedule";
}

<h1>@ViewData["Title"]</h1>
<br />

<h4>Branch</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        Branch ID
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Branch.BranchId
    </dd>
    <dt class="col-sm-2">
        Branch Name
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Branch.Name
    </dd>
    <dt class="col-sm-2">
        Branch Phone
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Branch.Phone
    </dd>
    <dt class="col-sm-2">
        Branch Address
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Branch.Address
    </dd>
    <dt class="col-sm-2">
        Branch Email
    </dt>
    <dd class="col-sm-10">
        @ViewBag.Branch.Email
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                Day Of Week
            </th>
            <th>
                Open Time
            </th>
            <th>
                Close Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Branch.BranchSchedules)
        {
            <tr>
                <td>
                    @switch (item.DayOfWeek)
                    {
                        case (byte)DayOfWeek.Monday:
                            <text>Monday</text>
                            break;
                        case (byte)DayOfWeek.Tuesday:
                            <text>Tuesday</text>
                            break;
                        case (byte)DayOfWeek.Wednesday:
                            <text>Wednesday</text>
                            break;
                        case (byte)DayOfWeek.Thursday:
                            <text>Thursday</text>
                            break;
                        case (byte)DayOfWeek.Friday:
                            <text>Friday</text>
                            break;
                        case (byte)DayOfWeek.Saturday:
                            <text>Saturday</text>
                            break;
                        case (byte)DayOfWeek.Sunday:
                            <text>Sunday</text>
                            break;
                    }
                </td>
                <td>
                    @item.OpenTime
                </td>
                <td>
                    @item.CloseTime
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<h4>New Schedule:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSchedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ScheduleId" type="hidden" disabled class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="BranchId" type="hidden" value="ViewBag.Branch.BranchId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <select asp-for="DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()"></select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenTime" class="control-label"></label>
                <input asp-for="OpenTime" class="form-control" />
                <span asp-validation-for="OpenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloseTime" class="control-label"></label>
                <input asp-for="CloseTime" class="form-control" />
                <span asp-validation-for="CloseTime" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
